<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Second name:</b>
  <%= @user.second_name %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>

<% if can? :edit, @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> 
<% end %>
  <%= link_to 'Back', users_path %>
