<h3>LESSONS</h3>

<%= search_form_for @q do |f| %>
	<p>
		<%= f.label :name_start %>
		<%= f.text_field :name_start %>
	</p>
	<p>
    	<%= f.submit %>
  	</p>
<% end %>


<ol>
<% @lessons.each do |lesson| %>
<li><h4><%= link_to lesson.name, lesson_path(lesson) %></h4>

	<%= link_to 'Show', lesson %>
	<%= link_to 'Edit', edit_lesson_path(lesson) %> 
	<%= link_to 'Delete', lesson, method: :delete, data: { confirm: 'Are you sure?' } %>
	<br>
	<br>
	<% end %>
	</ol>
	<%= link_to 'Home', root_path %>
	<%= link_to 'New Lesson', new_lesson_path %> 
	<br>